extends layout

block content
	h2.min Edit Post
	br
	form(name="updatepost", method="POST", action="/updatepost/#{post.id}")
		.form-group
			label(class="sr-only" for="title") Title:
			input(class="form-control", type="text", placeholder="Title", id="title", name="title", style="font-size:10pt", value="#{post.title}")
		br
		.form-group
			label(class="sr-only", for="contents") Post:
			textarea(class="input-block-level", id="contents", name="contents", rows="25") !{post.contents} 
		br
		button(type="submit" class="btn btn-default center") Update Entry