extends layout

block content
	if (loggedin)
		form(name="newpost",method="get", action="/newpost")
			button(type="submit" class="btn btn-default center") New Post
		br
	each post, i in blog
		.postelement
			h3.blogtitle
				a.headline(href="/post/#{post.id}")= post.title
			if (post.updated) 
				p Updated #{post.date}
			else
				p= post.date
		