doctype html
html
	head
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/script.js')
		link(rel='stylesheet', type='text/css', href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
		
		//TinyMCE
		script(type='text/javascript', src='/tinymce/js/tinymce/tinymce.min.js')
		script(type='text/javascript', src='/javascripts/init_tinymce.js')
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200,400|Ubuntu:300|Lato:400|Open+Sans:300,400> 
		<link rel="stylesheet" type="text/css"
		
		
	body
		.container-fluid
			//.col-md-10.col-md-offset-1
			.col-md-9.col-centered
				.header
					h1 Sample Blog
					if (loggedin)
						form(name="logout", method="POST", action="/logout")
							button(type='submit', class='btn btn-default logoutbutton') Log Out
				.customnav
					ul.customnavbar
						li.navlink
							a(href="/") Home
						li.navlink
							a(href="/about") About
						li.navlink
							a(href="/gallery") Gallery
						li.navlink
							a(href="/contact") Contact
					.clearFix
				
				.contentholder
					if (messages.info)
						.alert.alert-info.nomargin
							span= messages.info
					if (messages.warning)
						.alert.alert-danger.nomargin
							span= messages.warning
					if (messages.success)
						.alert.alert-success.nomargin
							span= messages.success
					
					if (sidebar)
						.blogspace
							block content
						.sidebar
					else
						.blogspace.nobar
							block content
					
			