body {
 /* padding: 50px 0px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background:url('/images/background_1.jpg') no-repeat center center fixed;
	background-size: cover;
	
	min-width: 800px;
	width: auto !important;
	width: 800px;
}

h1 {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 52px;
/*	color: #ffffff;*/
}

h2.min {
	font-family: "Ubuntu", sans-serif;
	font-size:30px;
}

h3.blogtitle {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 30px;
}

p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
}

a {
  color: #0097FF;
}

a.headline {
	color: #000000;
	text-decoration: none;
}

.nopadding {
	padding: 0;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.save-whitespace {
	white-space: pre;
}

/******** HEADER *********/

.header {
	position: relative;
	padding: 30px 50px;
	background: #ececef;
	/*background:url('/images/city_1_cropped.jpg');
	background-size: cover;*/
  opacity: 1; 
}

.logoutbutton {
	position: absolute;
	top: 30px;
	right: 40px;
}

.customnav {
 	padding: 5px 0px;
	background: #5A5A5A;
}

	ul.customnavbar {
		list-style: none;
		list-style-position: inside;
	}

		ul.customnavbar li a {
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 20px;
			color: #ffffff;
			text-decoration: none;
		}

		ul.customnavbar li {
			float: left;
			/*margin-right: 15px;*/
		}
		
	.navlink {
		float: left;
		margin: 0px 20px;
		padding: 5px 20px;
		border-radius: 4px;
	}
	
	.outlined {
		padding: 4px 19px;
		border: 1px solid #ffffff;
	}

.clearFix {
	clear: both;
}

/******** BODY *********/

.contentholder {
	margin: 0px 0px 50px 0px;
}

.nomargin {
	margin: 0px;
}

.btn.center {
	/*width: 25%;*/
	display: block;
	margin: 0 auto;
}

.blogspace {
	float: left;
	padding: 30px 50px 40px 50px;
	width: 72%;
	height: 100%;
	background: #fcfcfc;
}

.sidebar {
	float: right;
	padding: 30px 50px 40px 50px;
	width: 28%;
	height: 100%;
	background: #dddddd;
}

.blogspace.nobar {
	width: 100%;
}

.oneline {
	float: left;
	margin-right: 30px;
}

.center {
	text-align: center;
}


.postelement {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #bbbbbb;
}

/********** BLOG POST ************/
.blogpostcontent {
	padding: 40px 0px;
}

.custom-line-height {
	line-height: 20px;
}

.edit-delete-post {
	padding: 30px 0px 50px 0px;
}

.comment-input {
	padding: 50px 0px;
}

.comments {
	list-style: none;
	padding: 0;
}

.comment-holder {
	margin: 10px 20px 20px 0px;
	padding: 10px 10px;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #aaaaaa;
}

.time-holder {
	padding: 0px 0px 0px 20px;
	color: #aaaaaa;
}